body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a, ul{
    text-decoration:none;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: column;

}
.header, .main, .lower {
    padding-inline: 180px
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-bottom: 50px;

}

.logo a{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold
}

.header-split a{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
}
/* main */
.main {
    display: flex;
    justify-content: space-between;
    color:#F9FAF8;
    background-color: #1f2937;
    font-size: 48px;
    padding-bottom: 50px;
    gap: 30px;
    font-weight: bold;
    
}

.main img {
    width: 700px;
    height: auto;
}

.main .small-text {
    width:500px;
    display: flex;
    font-size: 18px;;
    font-weight: 100;
}

.main button {
    background-color: #3882F6;
    color: #e5e7eb;
    border: 0;
    padding: 3px 20px 3px 20px;
    border: 5px solid #3882F6;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;

}
/* middle part with 4 pics */
.middle {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 50px;
}

.middle-text {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding: 40px;
}

.middle-pictures {
    display: flex;
    gap: 100px
}

.middle-img img{
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    
}

.text{
    width: 150px;
    text-align: center;
    color: gray;
}
/* quote */
.lower {
    display: flex;
    flex-flow: column;
    background-color: #e5e7eb;
    color: #1f2937;


}
.quote {
    width: 900px;
    align-self: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.quote-text{
    font-size: 36px;
    font-style: italic
}

.author {
    text-align: end;
    font-weight: bold;
}


/* sing up blue box */
.signup {
    display: flex;
    justify-content: center;
    margin: 50px;
}



.signup-box {
    display: flex;
    justify-content: space-around;
    align-items:  center;
    flex-flow: row;
    background-color:#3882F6;
    color: #e5e7eb;
    width: 900px;
    padding: 30px;
    border: #3882F6;
    border-radius: 10px;

}

.secondary {
    margin: 0;
}

.signup-button {
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    color: #e5e7eb;
    background-color: #3882F6;
    padding: 5px 20px;
}
/* footer */
footer {
    text-align: center;
    background-color: #1f2937;
    color:#e5e7eb;
    padding: 30px;
}